/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    /* colors */

    /* primary colors */
    --very-dark-blue: #070439;
    --desaturated-blue: #585989;

    /* Accent */
    --bright-blue: #3065f8;
    --moderate-cyan: #3c9f8f;

    /* neutral colors */
    --light-grayish-blue: #f6f6fe;
    --light-gray: #bfbfbf;
    --white-color: #fff;

    /* font styles */
    --font-family-headings: 'Raleway', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
    
    --font-size-body: 1rem;
    --font-size-400: 1.25rem;
    --font-size-500: 1.2rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-800: 2.5rem;
    --font-size-900: 5rem;
}

/* resets */
*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

img, svg{
    display: block;
    max-width: 100%;
}


body{
    min-height: 100vh;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-body);
    background-color: whitesmoke;
}
/* helping classes */
.main-container, header, footer{
    width: 100%;
    max-width: 26rem;
    margin-inline: auto;
}




.main-container{
    padding: 1rem 1rem;
    background-color: var(--white-color);
}

.main-container, header{
    padding-inline: 2rem;
}



/* end of helping classes */


/* header styles */
header{
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
}

.header-logo{
    max-width: 5rem;
    margin-right: .5rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family-headings);
    margin-right: .3rem;

}

nav li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-size: var(--font-size-body);
    color: var(--very-dark-blue);
}
/* end of header styles */

/* store-section */
.img-container img{
    margin: 3rem 0 3.5rem 0;
}

.store-section{
    text-align: center;
}

.main-title, .store-desc{
    margin-bottom: 2rem;
    color: var(--very-dark-blue);
}

.main-title{
    font-family: var(--font-family-headings);
}

/* inputs styles */


.store-input input{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    outline: none;
}

.email{
    border: 1px solid var(--very-dark-blue);
    padding: 1rem 0 1rem 1.5rem;
    font-size: 1.2rem;
    color: var(--light-gray);
    border-radius: 5px;
    
}

.submit{
    font-weight: var(--font-weight-600);
    border-radius: 5px;
    background-color: var(--bright-blue);
    color: var(--white-color);
    cursor: pointer;
    border: none;
}

.submit:hover{
    background-color: #3065f8c2;
    transition: background .3s ease-in-out;
}

/* background image for the page */
.bg-curve{
    width: 100%;
    height: 115px;
    margin-top: 50px;
    margin-bottom: 0;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* productivity container styles */

.productivity{
    margin: 0 0 5rem 0;
    background-color: var(--light-grayish-blue);
}

.productive-img img{
    margin: 2rem 0 4rem 0;
}

.sub-title{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: var(--font-family-headings);
    color: var(--very-dark-blue);
    padding-inline: .5rem;
}

.productive-desc{
    color:  var(--desaturated-blue);
    padding-right: 1rem;
    font-size: 1rem;
}

.content-link{
    display: flex;
    align-items: center;
    margin: 2rem 0 2.5rem 0;
}

.content-link a{
    display: block;
    max-width: 170px;
    color: var(--moderate-cyan);
    text-decoration: none;
    border-bottom: 1px solid var(--moderate-cyan);
}

.content-link a:active{
    opacity: 0.8;
}

.arrow-icon{
    display: inline;
}

.small-container{
    max-width: 20rem;
    margin-inline: auto;
    background-color: var(--white-color);
    box-shadow: 0px 0px 8px hsl(0, 0%, 87%);
    padding: 1rem 1rem 1rem 1.7rem;
}

.icon-quotes{
    margin: .8rem 0;
}
.small-desc{
    font-size: .9rem;
    line-height: 1.5;
}

.details{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 ;
}

.user-img{
    max-width: 2rem;
    border-radius: 50%;
}

.user-name{
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-body);
}

.position{
    font-size: .7rem;
}

/* footer styles */

/* first footer */
.access-container{
    background-color: var(--desaturated-blue);
    color: var(--white-color);
    padding: 4rem 2.8rem;
    text-align: center;
    font-family: var(--font-family-headings);
}


.access-content > *{
    margin-bottom: 2rem;;
}

.access-title{
    margin-bottom: 1.5rem;
}

.access-desc{
    line-height: 1.5;
}


.content-input form > * + *{
    margin-top: 1rem;
}

.access-email{
    display: block;
    border: 1px solid black;
    margin: 0 auto;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: var(--font-size-body);
    color: var(--desaturated-blue);
    width: 100%;
    height: 2.5rem;
    border-radius: 0.125rem;
}

 .btn{
    width: 100%;
    color: var(--white-color);
    background-color: var(--bright-blue);
    border: none;
    outline: none;
    padding: 1rem 0;
    border-radius: 0.125rem;
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-body);
    cursor: pointer;
}


.btn:hover{
    background-color: hsla(224, 84%, 63%, 0.829);
    transition: background .3s ease-in-out;
}



/* second footer  styles*/
.fylo-footer{
    background-color: var(--very-dark-blue);
    color: var(--white-color);
    padding: 4.5rem 3rem;
}

.fylo-footer svg{
    margin-bottom: 3rem;
}

.phone{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.fylo-email{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links{
    margin: 3rem 0;
}

.about{
    margin-bottom: 3rem;
}

.nav-links > * + *{
    margin-bottom: 3rem;
}

.nav-links a{
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-top: 1.4rem;
    font-family: var(--font-family-body);
    font-size: var(--font-size-400);
}

.nav-links a:active{
    color: var(--bright-blue);
}


.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.fa-brands{
    border: 1px solid var(--white-color);
    border-radius: 50%;
    padding: .5rem .5rem;
    cursor: pointer;
}

.fa-brands:active{
    border-color: var(--bright-blue);
    color: var(--bright-blue);
}

.attribution { 
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
    background-color: var(--very-dark-blue);
    color: var(--white-color);
}
.attribution a {
    color: var(--white-color);
}

/* end of styles for mobile design */

/* styles for the tablet design */



/* desktop styles */

@media screen and (min-width: 47.5rem){
    body{
        background: var(--white-color);
    }
    
    
    header{
        max-width: 87.5rem;
        padding: 3rem 3rem 0 3rem;
    }

    header nav ul{
        gap: 2rem;
    }
    
    header nav li a{
        font-size: var(--font-size-500);
        
    } 

    .header-logo{
        margin-left: .8rem;
        max-width: 7rem;
    }

    .main-container{
        padding: 1rem 3rem 0 3rem;
        width: 100%;
        max-width: 87.5rem;
    }

    
    /* store-section  styles */
    .store-section{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3rem;
        text-align: left;
    }

    .store-section > *{
        flex: 1;
    }

    .store-input form{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .email{
        max-width: 50%;
        border: 1px solid var(--very-dark-blue);
        outline: none;
    }

    .submit{
        max-width: 30%;
    }

    .main-title{
        margin-right: 5.5rem;
    }


    /* productivity section styles */
    .productivity{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
        background-image: url(/images/bg-curve-desktop.svg);
        background-color: var(--light-grayish-blue);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top -20px;
    }

    .productivity > *{
        flex: 1;
    }


    .sub-title{
        text-align: left;
        padding-inline: 0;
        font-size: var(--font-size-700);
    }

    .small-container{
        margin-inline: 0;
    }

    /* footer styles */

    footer{
        max-width: 87.5rem;
    }

    .access-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5rem;
    }

    .access-container > *{
        flex: 1;
    }

    .access-content{
        text-align: left;
    }

    
    .content-input form{
        margin-inline: 2rem;
    }

    .access-title{
        font-size: var(--font-size-700);
    }

    .access-desc{
        margin-right: 9rem;
    }

    .btn{
        width: 40%;
        display: flex;
        justify-content: center;
    }

    
    .fylo-footer svg{
        margin-block: 1rem;
    }

    .fylo-address{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .address{
        margin-top: 1.2rem;
    }

    .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 0;
        padding-block: 0;
    }

    .about{
        margin-bottom: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 0;
    }

    .icons{
        align-items: flex-start;
        margin-top: 2rem;
        
    }

}

@media screen and (min-width: 50rem) and (max-width: 53.125rem) {

    .store-section{
        margin-top: 1rem;
    }
    .access-title{
        font-size: var(--font-size-600);
    }
    
}